Bug: Special chars in OAuth2 secret

B2SHARE's OAuth2 client secret currently can't contain %-signs.

This worked up to around 11.12.2019, but failed in production unexpectedly. Most likely changes in B2ACCESS' Unity version has brought the hidden problem up.

Problem seems to be that the body/payload of the request to B2ACCESS is not being URL encoded. This is a requirement per RFC 6749 [section 2.3.1](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1). [Appendix B](https://datatracker.ietf.org/doc/html/rfc6749#appendix-B) also shows that %-sign is reserved for escaping purposes. See [Wikipedia](https://en.wikipedia.org/wiki/Percent-encoding) for human readable details.